# Discord Bot Token (из Discord Developer Portal)
DISCORD_TOKEN=your_bot_token_here

# Application ID (Client ID)
CLIENT_ID=1491432296048361551

# Discord Server ID (Guild ID)
GUILD_ID=1463228311118549124

# Supabase
SUPABASE_URL=your_supabase_url
SUPABASE_SERVICE_ROLE_KEY=your_service_role_key
